<div class="container">
    <h1>Værktøj</h1>
  
    <form (ngSubmit)="submit()">
  
      <div class="form-group">
        <label for="vtAnskaffet">Anskaffet</label>
        <input type="date" class="form-control" [(ngModel)]="model.VTAnskaffet" name="VTAnskaffet" required>
      </div>
  
  
      <div class="form-group">
        <label for="vtFabrikat">Fabrikat</label>
        <input type="text" class="form-control" [(ngModel)]="model.VTFabrikat" name="VTFabrikat">
      </div>
  
  
      <div class="form-group">
        <label for="vtModel">Model</label>
        <input type="text" class="form-control" [(ngModel)]="model.VTModel" name="VTModel">
      </div>
  
  
      <div class="form-group">
        <label for="vtSerienummer">Serienummer</label>
        <input type="text" class="form-control" [(ngModel)]="model.VTSerienr" name="VTSerienr">
      </div>
  
  
      <div class="form-group">
        <label for="vtType">Type</label>
        <input type="text" class="form-control" [(ngModel)]="model.VTType" name="VTType">
      </div>
  
  
      <div class="form-group">
        <label for="LiggerIvtk">LiggerIvtk</label>
        <input type="text" class="form-control" [(ngModel)]="model.LiggerIvtk" name="LiggerIvtk">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>